@model List<hr_hackaton_mysql.Models.list_game>
@{
    ViewBag.Title = "Игра";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    foreach (var games in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Content/img/default.svg" alt="Card image cap ">
            <div class="card-body">
                <h5 class="card-title">@Html.Raw(games.category_name)</h5>
                <p class="card-text"></p>
                <p>@games.category_name</p>
                <a href="@Url.Action("Play", "Game",new {category=games.category_name_english,answer="0" ,id_game="25" },null)" class="btn btn-primary">Играть</a>
            </div>

        </div>
    }

    



}
